.Rproj.user
.Rhistory
.RData
.Ruserdata
PCA_Figures
UniqueSputum_Figures
ProbeTest3_Mtb.Expression.Gene.Data.SCALED.TPM.csv
ProbeTest3_Pipeline.Summary.Details.csv
ProbeTest4_Mtb.Expression.Gene.Data.SCALED.TPM.csv
ProbeTest4_Pipeline.Summary.Details.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.TPM.csv
ProbeTest5_Mtb.Expression.Gene.Data.TPM.csv
ProbeTest5_Pipeline.Summary.Details.csv
.DS_Store
Correlation_Figures
LimitofDetection_Figures
ProbeTest5_Mtb.Expression.Gene.Data.RPKM.csv
ProbeTest5_Mtb.Expression.Gene.Data.ReadsM.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.RPKM.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.ReadsM.csv
Diff_alignments_Figures
EL_DifferentAlignments_Summary_byhand.csv
Mtb.Expression.Gene.Data.TPM_CG24.csv
Mtb.Expression.Gene.Data.TPM_Clin1.csv
Mtb.Expression.Gene.Data.TPM_MTH37.csv
Mtb.Expression.Gene.Data.TPM_Mada116.csv
ProbeTest5_Mtb.Expression.Gene.Data.RPKM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.ReadsM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.RPKM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.ReadsM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.TPM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.TPM_moreTrim.csv
ProbeTest5_Pipeline.Summary.Details_moreTrim.csv
JOINED_BobAverages
Volcano_plot_figures
CaptureVsNot_Figures
Pie_Figures
MTb.Biocyc.Pathways.rda
MTb.GO.BiologicalProcess.rda
MTb.GO.CellularComponent.rda
MTb.GO.MolecularFunction.rda
MTb.KEGG.Pathways.rda
MTb.Regulons.rda
MTb.TFOE.Regulons.rda
MTb.Tuberculist.FunctionalGroups.rda
MTb.Tuberculist.GO.Ontology.rda
MTb.iModulons.rda
EL_phoP_All.Base.Depth.Calls.csv
phoP_Figures
DataFromMark
ProbeTest3_Mtb.Expression.Gene.Data.TPM.csv
ProbeTest4_Mtb.Expression.Gene.Data.TPM.csv
Poster_Figures
Probetest4_Mtb.Expression.Gene.Data.ReadsM.csv
CaptureVsNot_Figures_old.KIT
Correlation_Figures_old.KIT
Diff_alignments_Figures_old.KIT
LimitofDetection_Figures_old.KIT
MDS_Figures_old.KIT
PCA_Figures_old.KIT
Pie_Figures_old.KIT
Poster_Figures_old.KIT
ProbeTest3_Mtb.Expression.Gene.Data.RPKM.csv
ProbeTest4_Mtb.Expression.Gene.Data.RPKM.csv
phoP_Figures_old.KIT
