.Rproj.user
.Rhistory
.RData
.Ruserdata
PCA_Figures
UniqueSputum_Figures
ProbeTest3_Mtb.Expression.Gene.Data.SCALED.TPM.csv
ProbeTest3_Pipeline.Summary.Details.csv
ProbeTest4_Mtb.Expression.Gene.Data.SCALED.TPM.csv
ProbeTest4_Pipeline.Summary.Details.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.TPM.csv
ProbeTest5_Mtb.Expression.Gene.Data.TPM.csv
ProbeTest5_Pipeline.Summary.Details.csv
.DS_Store
Correlation_Figures
LimitofDetection_Figures
ProbeTest5_Mtb.Expression.Gene.Data.RPKM.csv
ProbeTest5_Mtb.Expression.Gene.Data.ReadsM.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.RPKM.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.ReadsM.csv
Diff_alignments_Figures
EL_DifferentAlignments_Summary_byhand.csv
Mtb.Expression.Gene.Data.TPM_CG24.csv
Mtb.Expression.Gene.Data.TPM_Clin1.csv
Mtb.Expression.Gene.Data.TPM_MTH37.csv
Mtb.Expression.Gene.Data.TPM_Mada116.csv
ProbeTest5_Mtb.Expression.Gene.Data.RPKM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.ReadsM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.RPKM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.ReadsM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.SCALED.TPM_moreTrim.csv
ProbeTest5_Mtb.Expression.Gene.Data.TPM_moreTrim.csv
ProbeTest5_Pipeline.Summary.Details_moreTrim.csv
JOINED_BobAverages
Volcano_plot_figures
CaptureVsNot_Figures
Pie_Figures
